@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
  <h1>Log in to Travel Booking System</h1>
  <h4>Username</h4>
  <input type="text">
  <h4>Password</h4>
  <input type="password">
  <button>Login</button>
</div>