@{
  ViewData["Title"] = "Signup";
}

<div class="text-center">
  <h1>Sign up to Travel Booking System</h1>
  <h4>Name</h4>
  <input type="text">
  <h4>Username</h4>
  <input type="text">
  <h4>Email</h4>
  <input type="text">
  <h4>Password</h4>
  <input type="password">
  <button>Signup</button>
</div>