@{
  ViewData["Title"] = "Hotel";
}

<div class="text-center">
  <h1>Book a Hotel</h1>
  <button>Click here to go to form</button>
  <h3>My Hotel bookings</h3>
  <div>
    <ol>
      <li>List</li>
      <li>My</li>
      <li>Hotel</li>
      <li>Bookings</li>
      <li>Here</li>
    </ol>
  </div>
</div>