@{
    ViewData["Title"] = "Booking";
}

<div class="text-center">
  <h1>Please select your booking type:</h1>
  <button><a href="/Booking/Airfare">Airfare Booking</a></button>
  <button><a href="/Booking/Hotel">Hotel Booking</a></button>
</div>