@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1>Welcome to Travel Booking System!</h1>
    </div>
    <form method="get">
        <button><a href="/Auth/Login">Login</a></button>
        <button><a href="/Auth/Signup">Signup</a></button>
    </form>
</div>

